.description{
  /*	padding: 10px;*/
}

.description h1{
	font-family: 'Bebas Neue';
	font-size: 40px;
}

.description h2{
	font-family: 'Bebas Neue'
	font-size: 30px;
}

.description h3{
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 25px;
}

.description h4{
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 16px;
}

.description h5{
	font-family: 'El Messiri', sans-serif;
	font-size: 20px ;
	text-align: center;

}

.description li{
	font-family: 'Baskervville', serif;
	text-align:center;

}

.description p{
	font-family: 'Baskervville', serif;
}

.team {
  display: flex;
  justify-content: space-around;
}

.member {
  text-align: center;
}

body{
	background-color: aliceblue;
}
